<%- include header %>
<header class="jumbotron blue-bg">
  <h1 class="display-4 text-center text-white">CSV Report Generator</h1>
</header>

<main class="container mt-5">
  <div class="row">

    <div class="col-6 br">
      <div id="upload-form" class="form-container input-form-box">
        <label for="csv-file" class="json-label">Input JSON data</label>
        <div class="form-group">
          <input id="file-input" type="file" name="input_json" id="csv-file" class="btn blue-bg submit-btn btn-block">
        </div>
        <div class="form-group">
          <button id="upload-btn" type="submit" class="btn btn-block bt-lg blue-bg submit-btn">Submit File</button>
        </div>
        <form action="/download_csv" method="GET">
          <div class="form-group">
            <input id="download-btn" type="submit" value="Download CSV File"
              class="btn btn-block bt-lg blue-bg submit-btn">
          </div>
        </form>
      </div>
    </div>

    <div class="col-6">
      <div class="form-container">
        <h2 for="csv-file" class="json-label text-right">Output CSV</h2>
        <ul class="list-group list-group-flush">
          <% csv.list.forEach(item => { %>
          <li class="list-group-item"><%= item %></li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
  </div>

</main>
<% include footer %>