<%- include header %>
<header class="jumbotron blue-bg">
  <h1 class="display-4 text-center text-white">CSV Report Generator</h1>
</header>

<main class="container mt-5">
  <div class="row">
    <div class="col-10 m-auto form-container bg-dark">
      <div class="row">
        <div class="col-6">
          <form action="/upload_csv" class="form-box input-form-box" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="csv-file" class="json-label">Input JSON data</label>
              <!-- <textarea name="input_json" id="csv-file" class="form-control" cols="30" rows="10"></textarea> -->
              <input type="file" name="input_json" id="csv-file" class="btn blue-bg">
            </div>
            <div class="form-group">
              <input type="submit" value="Submit" class="btn btn-block bt-lg blue-bg submit-btn">
            </div>
          </form>
        </div>
        <div class="col-6">
          <form action="/download_csv" class="form-box" method="GET">
            <div class="form-group">
              <label for="csv-file" class="json-label text-right">Output CSV</label>
              <textarea name="" id="csv-file" class="form-control" cols="30" rows="10" readonly><%= csv %></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Download CSV File" class="btn btn-block bt-lg blue-bg submit-btn">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<% include footer %>